* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  width: 100vw;
}


.main-container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #FFF7ED;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

header > a {
  text-decoration: none;
  font-weight: 900;
  color: #000000;
  font-size: 23px;
}

header > nav {
  display: flex;
  gap: 25px;
}

header > nav > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #4D4D4D;
}

header > nav > a:hover {
  color: #161616;
  text-decoration: underline;
}

footer {
  background-color: #252525;
  height: 60px;
  font-weight: 500;
  font-size: 11px;
  color: #AAAAAA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/background_homepage.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.main-content > h2 {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
}


.main-content > p {
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
  color:#161616;
}

.main-home .main-content > p {
  color: white;
}

.main-home .main-content > h2 {
  color: white;
}

.main-content .find-vans {
  background-color: #FF8C38;
  border: none;
  border-radius: 4px;
  height: 50px;
  margin-top: 40px;
}

.main-home .main-content > a {
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main-about {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.main-about > img {
  width: 100%;
}

.main-about .main-content > h2 {
  margin-bottom: 30px;
}

.about-vans {
  margin: 20 0 40 0px;
  height: 180px;
  width: 98%;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-vans .title-container > h2 {
  text-align: left;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.about-vans > a {
  background-color: #161616;
  color:white;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 175px;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.filter-button-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 70%;
}

.filter-button-container > button {
  background-color: #FFEAD0;
  height: 33px;
  width: 30%;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #4D4D4D;
}

.filter-button-container .filter-button-simple:hover {
  background-color: #E17654;
  color: #FFEAD0;
  cursor: pointer;
}

.filter-button-container .filter-button-luxury:hover {
  background-color: #161616;
  color: #FFEAD0;
  cursor: pointer;
}

.filter-button-container .filter-button-rugged:hover {
  background-color: #115E59;
  color: #FFEAD0;
  cursor: pointer;
}

.selection-container > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  white-space: nowrap;
  text-decoration: underline;
  color: #4D4D4D;
}

.selection-container > span:hover {
  cursor: pointer;
  color: #161616;
}

.van-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  width: 100%;
  gap: 20px;
}

.van-list-container > a {
  text-decoration: none;
}

.van-list-container .van-item {
  height: 300px;
}

.van-item > img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.van-item .item-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.van-item .item-details > h3 {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  color: #161616;
}

.van-item .item-details > span {
  font-weight: 600;
  font-size: 15px;
  text-align: right;
  color: #161616;
  display: flex;
  flex-direction: column;
}

.van-item .item-details > span > span {
  font-weight: 500;
  font-size: 11px;
}

.van-item .item-type {
  border-radius: 5px;
  height: 33px;
  padding: 7px 20px;
  font-weight: 600;
  font-size: 12px;
  color: #FFEAD0;
  text-align: center;
}

.main-van-detail .loading {
  padding: 30px;
}

.main-van-detail .main-content > img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 40px;
}

.main-van-detail .main-content > span {
  border-radius: 5px;
  height: 33px;
  width: 80px;
  font-weight: 600;
  font-size: 14px;
  color: #FFEAD0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-van-detail .main-content > h2 {
  margin: 0;
  font-weight: 700;
  font-size: 27px;
  color: #161616;
  margin-bottom: 20px;
}

.main-van-detail .main-content > h3 {
  margin: 0;
  font-weight: 700;
  font-size: 23px;
  color: #161616;
  margin-bottom: 20px;
}

.main-van-detail .main-content > h3 > span {
  font-weight: 500;
  font-size: 17px;
  color: #161616;
}

.main-van-detail .main-content > p {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  color: #161616;
  margin-bottom: 20px;
  line-height: 160%;
}

.main-van-detail .main-content > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}